nav.flex-container,img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav li {display: inline;}
nav a {font-family: Arial, Helvetica, sans-serif;
padding: 10px;margin: 8px;color: whitesmoke;
text-decoration: white;display: inline-block;
border-radius: 4px;background-color: blue;border-style: outset;}
nav a:hover {background-color: red;color: black;}
nav a.active {background-color: cyan;color: white;}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue;
  color: black;
}
.image-container { display: flex; justify-content: center;  align-items: center;  height: 100vh;} 
  img { max-width: 100%;  height: auto;}